@model CheckoutPaymentGatewayAPI.Models.CardDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CardDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardNumer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardNumer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardExpiry_Month)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardExpiry_Month)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardExpiry_Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardExpiry_Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CVV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CVV)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
