@model IEnumerable<CheckoutPaymentGatewayAPI.Models.CardDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardNumer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardExpiry_Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardExpiry_Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CVV)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardExpiry_Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardExpiry_Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CVV)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
